
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-header.css' %}" />
<html>
    <body>
        <header id="header">
            <div class="container__header">
                {% if user.email %}
                    <div class="container__nav">
                        <nav id="nav">
                            <ul>
                                <li><a href="#" class="select">INICIO</a></li>
                                <li><a href={% url 'list_articles' %} class="select">PRODUCTOS</a></li>
                                <li><a href={% url 'publicar' %} class="select">PUBLICAR</a></li>
                                <li><a href={% url 'logout' %} class="select">Cerrar Sesión</a></li>
                            </ul>
                        </nav>
        
                        <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>
        
                    </div>
                {% else %}
                    <div class="container__nav">
                        <nav id="nav">
                            <ul>
                                <li><a href="#" class="select">HOME</a></li>
                                <li><a href={% url 'login' %} class="select" >Login</a></li>
                                <li><a href={% url 'register' %} class="select" >Register</a></li>
                            </ul>
                        </nav>                               
                        <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>
                    </div>           
                {% endif %}

            </div>
        </header>
    </body>
</html>