
/* Otros Estilos*/

*{
    margin: 0px;
    padding: 0px;
    font-family: open sans;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
}

#descripcion{
    display: block;
    margin-left: 15px;
    padding-right: 15px;
    color: white;
}

div > h2 > a{
    color: red
}

#caja{
    border: 5px solid whitesmoke;
    width: 2000px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(34, 31, 31);
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray;
    line-height: 50px;
    color: white;
    font-size: 15px;
    margin: auto;
    text-align: center;

}



h1{
    text-align: center;
}

/* MAGTIMUS PRO ELEGANT HOVER */

.container__box{
    max-width: 100px;
    margin: auto;
    margin-top: 40px;
    width: 60px;
    height: 40px;
    background: #fff;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #777777;
    cursor: pointer;
    text-align: center;
}

.box:hover{
    transform: scale(1.1);
    box-shadow: 10px 0px 30px -15px rgba(0,0,0,0.5);
    background: #0099e9;
    transition: all 300ms ease;
    color: #fff;
}

.box{
    max-width: 100px;
    margin: auto;
    margin-top: 40px;
    width: 60px;
    height: 40px;
    background: #fff;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #777777;
    cursor: pointer;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{

    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #f3f3f3;
}

.contenedor{
    border: 2px solid green;
    max-width: 1200px;
    height: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card__father{
    margin: 20px;
}


.imagen{
    display: block;
    padding: 12px ;
    height: 300px;
    width: 300px;
    justify-content: center;


}


:checked + .card {
	transform: rotateY(180deg);
    transition: all 1000ms;
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}


.card__front{
    background-color: #359EF9;
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background-image: url(images/pattern.png);
    background-color: #f3f3f3;
}





.body__card_back{
    padding: 40px;
    text-align: center;

}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.card__front input{
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

div > label > input{
    display: none;
}


.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}

#articulos{
display: flex;
}

div > img{
    height: 270px;
    width: 280px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


.category_id{
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 0px;
}

hr{
    margin-bottom: 10px;
}

a:visited{
    color: #fff;
}

a{
    color: #fff;
}

#descripcion_article{
    margin: auto;
    text-align: center;
    border: 2px solid green;
    max-width: 90%;
    max-height: 100px;
}

.Comprar{
    margin: auto;
    border: 0.5px solid green;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    margin-top: 25px;
}

:checked + .comprar{
    background-color: black;
    color: white;
}

.comprar{
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}