{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}" />

{% include 'productos/header.html' %}
<br>
<br>
<br>
<br>
<br>

<h1>{{title}}</h1>



<form method="post" action="">
    {% csrf_token %}
    <div id="caja-Login">
        <div id="caja_usuario">
            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" />
        </div>
        <div id="caja_contrasena">
            <label for="password">Contraseña
            <input type="password" name="password" />
        </div>
        <br>
        <div>
            <h3>
                <a href={% url 'index' %}>
                    Haz Olvidado tu Contraseña
                </a>
            </h3>
        </div>
        <div id="enviar">
            <input type="submit" value="Login" />
        </div>
        <br>
    </div>
</form>