{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-detail.css'%}" />

{% include 'productos/header.html' %}

 <br>
 
<html> 
    <body>

        <main>
            <div class="Container_Up">
                <div id="imagendetail">
                    {% if article.image != 'null' and article.image.url|length >= 1 %}
                        <div class="image">
                            <img src="{{ article.image.url }}" id="imagen2" style="width: 100%; height: 100%;" />
                        </div>
                    {% endif %}
                </div>
                <div class="content">
                    
                    <div class="info0">
                        <div id="title">
                        <h1>{{article.title}}</h1>
                        </div>
                        <div class="price-box">
                            <div class="price">
                                <h1>${{article.precio}}</h1>
                            </div>
                            
                            <div class="comprar">
                                <form action="{% url 'agregar_al_carrito' article.id %}" method="post" class="add-to-cart-form">
                                    {% csrf_token %}
                                    <button class="add-to-cart" type="submit">
                                    <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                    </div>

                    <div class="info">
                        <div class="info-box">
                            <div class="category-box-title">
                                <h5>Categoria:</h5>
                            </div>
                            <div class="category-box-info">
                                <p>            <span class="category-name">{{ category.name }}</span>
                                </p>
                            </div>
                        </div>
                        <hr>
    
                        <div class="info-box">
                            <div class="estate-box-title">
                                <h5>Vendedor:</h5>
                            </div>
                            <div class="estate-box-info">
                                <p>{{ article.user.username }}</p>
                            </div>
                        </div>
                        <hr>
    
                        <div class="info-box">
                            <div class="payment-box-title">
                                <h5>Forma de Pago:</h5>
                            </div>
                            <div class="payment-box-info">
                                <p> 
                                    {% if clases_de_pago_str %}
                                        <p>{{ clases_de_pago_str }}</p>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <hr>
    
                        <div class="info-box">
                            <div class="sending-box-title">
                                <h5>Envio:</h5>
                            </div>
                            <div class="sending-box-info">
                                <div class="content">
                                    <p>{{envio}}</p>
                                </div>
                            </div>
                        </div>

                        <hr>


                    </div>
                </div>
            </div>


            <div class="Container_Down">
                <hr>
                <div class="article-content">
                    <p>{{article.content}}</p>
                </div>
            </div>

            
        </main>
        
    </body>
</html>

