{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

<!-- Header -->
{% include 'productos/header.html' %}

<!-- Tarjetas -->
<html> 
    <body>
        <main>
            <div class="contenedor">
                {%for article in articles %}
                    <div class="card__father">
                        <label>
                            <input type="checkbox" />
                            <div class="card">
                                <div class="card__front">
                                    {% if article.image != 'null' and article.image.url|length >= 1 %}
                                        <div class="image">
                                            <img src="{{ article.image.url }}" id="imagen2"/>  
                                        </div>                              
                                    {% endif %}

                                    <div class="category_id">
                                        <p>
                                            {% for category in article.categories.all %}
                                                <a href="{% url 'category' category.id %}">{{category.name}}</a>
                                
                                                {% if forloop.counter < article.categories.all|length%}
                                                    {{'-'}}
                                                {% endif %}
                                            {%endfor%}                 
                                        </p>
                                    </div>
                                    
                                    <hr>
                                    
                                    <div id="descripcion_article">
                                        <p>{{article.content|safe}}</p>
                                    </div>

                                </div>
                                    
                                <div class="card__back">
                                    <div class="body__card_back">
                                        <div class="id_article">
                                            <h2>
                                                <a href="{% url 'article' article.id %}">
                                                    {{article.title}}
                                                    {{article.title}}
                                                    {{article.titlecart}}
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="descripcion_article">
                                            <p>{{article.content|safe}}</p>
                                            <input type="button" value="Leer Más">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="invisible">
                                <div id="caja_carro">
                                    <form> 
                                        <div id="formulario"> 
                                            <label for="titulo">Titulo</label>  
                                            <input type="text" id="titulo" name="titulo" value="{{article.title}}" readonly><br><br>
                                            <label for="content">Contenido</label>  
                                            <input type="text" id="content" name="titulo" value="{{article.content}}" readonly><br><br>
                                        </div>
                                        <div class="Comprar">
                                            <input type="submit" value="Create" id="enviar">
                                        </div>
                                    </form>    
                                </div>
                            </div>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>

{% if article.image != 'null' and article.image.url|length >= 1 %}
    <div class="image">
        {{article.title}}  
    </div>                              
{% endif %}

{{article.title}}
{{article.title}}
{{article.title}}
{{article.title}}

<div class="id_article">
    <h2>
        {{article.title}}
    </h2>
</div>

<label for="vehicle3"> I have a boat</label><br><br>
<input type="submit" value="Submit">

<label for="vehicle3"> I have a boat</label><br><br>
<input type="submit" value="Submit">

<label for="vehicle3"> I have a boat</label><br><br>
<input type="submit" value="Submit">


